body, html {
  margin: 0;
  padding: 0;
}

html > div {
  display: none !important;
}

.intro__header__container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.intro__header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: bold;
  font-style: oblique;
  color: #fff;
  text-shadow: 0px 0px 10px #fff;
  animation: glow 2s ease-in-out infinite alternate;
}

.intro__header__title span {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0px 0px 10px #fff; }
  to { text-shadow: 0px 0px 20px #fff; }
}

.content {
  padding: 50px;
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .intro__header__title {
    font-size: 3rem;
  }
}


.content p {
  margin-bottom: 20px;
}

.content1 {
  background-color: #f6f6f6;
}

.content2 {
  background-color: #ebebeb;
}

.content3 {
  background-color: #f6f6f6;
}

.content4 {
  background-color: #ebebeb;
}

.content5 {
  background-color: #f6f6f6;
}

.content6 {
  background-color: #ebebeb;
}

.content7 {
  background-color: #f6f6f6;
}

.content8 {
  background-color: #ebebeb;
}

