*, *::after, *::before {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    cursor: pointer;
}

p {
    line-height: 1.75;
}

.nav-bar-container a{
    all: unset;
    cursor: pointer;
    color: #424245;
}

.nav-bar-container a:hover {
    color: black;
}

.nav-bar-container {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    transition: background-color 0.7s ease-in-out, border-bottom 0.7s; 
}

.nav-bar-blur {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(8px);
    /*border-bottom: 1px solid rgba(128, 128, 128, 0.400);*/
}

.nav-bar-max-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    height: 44px;
    padding: 6px;
}

.nav-elements-wrapper ul, li, a{
    width: fit-content;
    /*height: 54px;*/
    margin: 0 auto;
    padding-left: 0; 
}

.nav-bar-container h1 {
    margin: 0;
}

.main-logo {
    /*line-height: 60px;*/
}

.nav-elements li {
    display: inline;
    float: left;        
    list-style: none;
    text-decoration: none;
    /*line-height: 60px;*/
}

.nav-elements {
    display: flex;
    flex: 8;
    justify-content: space-around;
    align-items: center;
}

.nav-elements a {
    padding: 0 8px;
}

.main-logo {
    font-style: oblique;
}

.container-hero {
    display: block;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.hero {
    background-color: rgb(121, 146, 192);
    background-image: url("../../images/land-page/image2.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 225px;
    padding-bottom: 200px;
}

.container-hero p{
    font-size: 1.25rem;
}
.container-hero h1 {
    font-size: 3rem;
}

.telescope-container {
    padding-top: 84px;
    padding-bottom: 84px;
    max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
}

.telescope-head h1{
    text-align: center; 
 }

 .content p {
    font-size: 20px;
 }

.card-wrapper {
    display: flex;
}

.card {
    margin: auto 12px; /*this margin adds the gap between the cards*/
    display: flex;
    position: relative;
}

.image {
    width: 640px;
    height: 360px;
    background-size: cover;
    border-radius: 14px;
}

.card-content {
    margin: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    bottom: 0;
}

.card-content p {
    padding-right: 2rem;
    font-size: 1.25rem;
    color: #ffffff; 
    margin: 0;
}

.button {
    display: grid;
    align-items: center;
    width: 100px;
    height: 36px;
    background-color: #ffffff;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.5s background-color;
}
.button span{
    font-weight: bold;
    font-size: 14px; 
    padding: 8px;
    text-align: center;
}

.button:hover {
    background-color: #ffffffd0;
    backdrop-filter: blur(10px);
}

.first-space-flight-container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.first-space-header {
    display: flex;
    justify-content: left;
}
.first-space-flight-webm {
    height: 520px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.first-space-flight-webm video {
    object-fit: cover;
}

.footer {
    background-color: #FAFAFA;
}

.footer-content {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {
    text-align: center;
}