*, *::after, *::before {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html > div {
  display: none !important;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    cursor: pointer;
}

p {
    line-height: 1.75;
}

.container-hero {
    display: block;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.hero {
    background-color: rgb(121, 146, 192);
    background-image: url("../../images/land-page/AS12-51-75271.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 225px;
    padding-bottom: 200px;
}

.container-hero p{
    font-size: 1.25rem;
}
.container-hero h1 {
    font-size: 3rem;
}

.telescope-container {
    padding-top: 84px;
    padding-bottom: 84px;
    max-width: 1320px; 
    margin-left: auto;
    margin-right: auto;
}

.telescope-head h1{
    text-align: center; 
 }

 .content p {
    font-size: 20px;
 }

.card-wrapper {
    display: flex;
    overflow: hidden;
}

.card {
    margin: 0 12px; /*this margin adds the gap between the cards*/
    display: flex;
    position: relative;
}

.image {
    width: 1280px;
    height: 720px;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
}

.card-content {
    margin: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    bottom: -70px;
    transition: 1s bottom;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(24px);
}

.card-content p {
    padding-right: 2rem;
    font-size: 1.25rem;
    color: #ffffff; 
    margin: 0;
}

.image:hover .card-content {
    transition: 1s;
    bottom: 0;
}

.button {
    display: grid;
    align-items: center;
    width: 100px;
    height: 36px;
    background-color: #ffffff;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.5s background-color;
}
.button span{
    font-weight: bold;
    font-size: 14px; 
    padding: 8px;
    text-align: center;
}

.button:hover {
    background-color: #ffffffd0;
    backdrop-filter: blur(10px);
}

.first-space-flight-container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.first-space-header {
    display: flex;
    justify-content: left;
}
.first-space-flight-webm {
    height: 520px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 14px;
}

.first-space-flight-webm video {
    object-fit: cover;
}

.footer {
    background-color: #FAFAFA;
}

.footer-content {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {
    text-align: center;
}
